body{
  font-family: 'Poppins',sans-serif;
}
.nav-link { position: relative; overflow: hidden; }
.nav-link::after {
  content: ''; position: absolute; width: 100%; height: 2px; background: #38bdf8;
  left: -100%; bottom: 0; transition: all 0.3s;
}
.nav-link:hover::after { left: 0; }
 @keyframes fadeInUp {
      from { opacity: 0; transform: translateY(30px); }
      to { opacity: 1; transform: translateY(0); }
    }
.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}


@keyframes fadeIn { from {opacity:0; transform: translateY(20px);} to {opacity:1; transform: translateY(0);} }
@keyframes fadeInSlow { from {opacity:0;} to {opacity:1;} }
@keyframes fadeInUp { from {opacity:0; transform: translateY(40px);} to {opacity:1; transform: translateY(0);} }
@keyframes bounceSlow { 0%, 100% {transform: translateY(0);} 50% {transform: translateY(-15px);} }

.animate-fadeIn { animation: fadeIn 1s ease forwards; }
.animate-fadeInSlow { animation: fadeInSlow 2s ease forwards; }
.animate-fadeInUp { animation: fadeInUp 1.2s ease forwards; }
.animate-bounce-slow { animation: bounceSlow 3s infinite; }